/* Regole generali  */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


 .clearfix{
    content: '';
    display: table;
    clear: both;
    width: 100%;
} 

/* main  */
.container{
    width: 80%;
    margin: 10px auto;
}

/* Struttura prodotto  */
.object{
    width: calc(100% / 3 - 4px);
    margin-bottom: 20px;
    float: left;
    position: relative;
}
.object img {
    width: 100%;
    object-fit: cover;
}

/* struttura prodotto centrale  */
.object#central{
   margin:  0 6px;
}

/* cuoricino in alto a dx */
.cuore{
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    z-index: 20;
}

/* indice sconto e sostenibilita  */
.discount_sostenibilita{
    position: absolute;
    left: 0;
    bottom: 80px;
    margin-top: 2px;

}

.discount_sostenibilita .discount{
    color: white;
    background-color: red;
    padding: 1px;
    margin-right: 3px;
}
.discount_sostenibilita .sostenibilita{
    color: white;
    padding: 1px;
    background-color: green;
}

/* descrizione prodotto */
.marca{
    font-size: 12px;
}
.how_much{
    color: red;
    font-size: 12px;
}
.quanto_era{
    text-decoration: line-through;
    color:black;
}

/* hover object*/
.hover{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.object:hover .hover{
    display: inline-block;
}
